.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
# Default: uncomment when we extract this into a separate repo
# .swiftpm/configuration/registries.json
# .swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/
.netrc

.vscode
